.CampaignList .row {
    margin-top: 1rem;
}

.CampaignList .List {
    padding-left: 6rem;
}

.CampaignList .Buttons {
    padding-left: 6rem;
}

.main-container {
    background-color: #f5f5f5;
    border-radius: 5px;
}

.CampaignListTitle {
    color: #000;
    text-align: center;
    margin-bottom: 2rem;
    border-radius: 1rem;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    opacity: 0.8;
}

.container-fluid .Create {
    margin-bottom: 2rem;
    margin-top: 3rem;
}

.CampaignCreate {
    margin-top: 2rem;
}

.CampaignCreate .Back {
    margin-top: 2rem;
}

.CampaignCreate .form-control {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.CampaignEdit {
    margin-top: 2rem;
}

.CampaignEdit .Back{
    margin-top: 2rem;
}

.CampaignEdit .form-control {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.CampaignDetail {
    margin-top: 2rem;
}

.CampaignDetail .form-control {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.CampaignDetail .Back {
    margin-top: 2rem;
}

.CampaignDetail .row {
    margin-top: 1rem;
}

.CampaignDetail .List {
    padding-left: 6rem;
}

.CampaignDetail .Buttons {
    padding-left: 6rem;
}

.CampaignDetailTitle {
    color: #000;
    text-align: center;
    margin-bottom: 2rem;
    border-radius: 1rem;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    opacity: 0.8;
}

.container-fluid .ReportCreate {
    margin-bottom: 2rem;
    margin-top: 3rem;
}

.ReportCreate {
    margin-top: 2rem;
}

.ReportCreate .Back {
    margin-top: 2rem;
}

.ReportCreate .form-control {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.ReportDetail .container-fluid {
    margin-top: 2rem;
}

.ReportDetail .Back {
    margin-top: 2rem;
}

.ReportDetail .row {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.CampaignDetail .List {
    padding-left: 6rem;
}

.CampaignCreate .form-control {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.ReportEdit {
    margin-top: 2rem;
}

.ReportEdit .Back{
    margin-top: 2rem;
}

.ReportEdit .form-control {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/*body {*/
  /*padding: 0;*/
  /*margin: 0;*/
  /*font-family: sans-serif;*/
/*}*/

/*.CampaignList {*/
  /*width: 600px;*/
  /*background-color: #F5F3EE;*/
  /*margin: 0 auto;*/
  /*position: relative;*/
/*}*/

/*.CampaignList h1 {*/
  /*text-align: center;*/
  /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  /*color: #7D1935;*/
  /*margin-top: 0;*/
/*}*/

/*.CampaignList table {*/
  /*margin: 0 auto;*/
  /*padding: 10px;*/
/*}*/

/*.CampaignList tr, td  {*/
  /*width: 8rem;*/
  /*height: 2rem;*/
  /*border: 3px solid #4A96AD;*/
  /*text-align: center;*/
  /*background-color: #fff;*/
/*}*/

/*.CampaignList a {*/
  /*text-decoration: none;*/
  /*color: #4A96AD;*/
  /*font-size: 0.8rem;*/
/*}*/

/*.CampaignList a:hover {*/
  /*color: #7D1935;*/
/*}*/

/*.CampaignList .Create {*/
  /*width: 8rem;*/
  /*height: 2rem;*/
  /*border: 3px solid #7D1935;*/
  /*text-align: center;*/
  /*background-color: #fff;*/
  /*margin-left: 234px;*/
  /*margin-top: 20px;*/
/*}*/

/*.CampaignCreate {*/
  /*width: 600px;*/
  /*background-color: #F5F3EE;*/
  /*margin: 0 auto;*/
  /*position: relative;*/
/*}*/
